<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= form_for @food do |f| %>
            <div>
                <p><b><%= f.label :name %></b></p>
                <p><%= f.text_field :name %></p>
            </div> 
            <div>
                <p><b><%= f.label :description %></b></p>
                <p><%= f.text_area :description %></p>
            </div>
            <div>
                <p><b><%= f.label :ExpiryDate %></b></p>
                <p><%= f.text_field :expiry_date, data:{provide:'datepicker',data_format: 'DD/MM/YYYY'} %></p>
            </div> 
            <div>
                <p><b><%= f.label :image %></b></p>
                <p><%= image_tag(@food.image.url(:thumb)) %></p>
                <p><%= f.file_field :image %></p>
            </div>
            <div>
                <p><b><%= f.label :contact %></b></p>
                <p><%=  f.text_field :contact,:value => current_user.email, :readonly => true %></p>
            </div> 
            <%= f.submit "Update Listing", class: "btn btn-secondary" %>
            <% end %>
        </div>              
    </div>
</div>

