<!DOCTYPE html>
<html>
  <head>
    <title>Cap'nShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation Bar -->
    <!-- <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse"> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Cap'nShare", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav">          
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact Us", contactus_path, class: "nav-link" %></li>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© CS562 ~Class of 2019~ Cap'nShare</p>
        </center>
      </div>
    </footer>

  </body>
</html>
